.jumbotron{
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.btn {
  margin-top: 5px;
}
.form-control {
  margin-top: 5px;
}
.selecionado {
  font-weight: bold;
  text-decoration: underline;
}
.alert {
  margin-top: 10px;
}
